$DARK_GREY: #EAEBEC;
$LIGHTEST: #FAFAFA;
$LIGHT: #F7F7F7;
$ORANGE: #ED633C;
$ICON_COLOR: #6C6C6C;

.App {
  text-align: center;
}

nav {
  color: white;
  text-align: center;
  position: fixed;
  height: 40px;
  background: $ORANGE;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  span {
    line-height: 40px;
  }
}

img.brand-image {
  margin: auto 0;
  height: 24px;
}

button {
  background: none;
  border: none;
  :hover {
    cursor: pointer;
  }
}

footer {
  background: $LIGHT;
  position: fixed;
  height: 24px;
  width: 100vw;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 8px 0;
  a{
    display:flex;
    align-content: center;
    i {
      margin:auto 8px auto 0px;
      color: $ICON_COLOR;
    }
  }
}

main {
  padding: 40px 0;
  @media screen and (min-width: 600px) {
    padding: 40px 10vw;
  }
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.App-header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

table {
  min-width: 360px;
  background: $LIGHTEST;
  width: -webkit-fill-available;
  text-align: left;
  empty-cells: show;
  word-wrap:break-word;
  th {
    background: $DARK_GREY;
  }
  input.new-task {
    width: 100%;
    word-break: break-all;
  }
  tr{
    &.completed{
      background: $LIGHT;
      i.fa-check {
        color: $ORANGE;
      }
    }
    i {
      color: $ICON_COLOR;
    }
  }
  td {
    word-wrap: break-word;
    max-width: 40vw;
  }
}


div.react-date-picker__wrapper {
  border: none;
}